<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.electricity.mapper.EquipmentMapper">

    <select id="getAllByID" parameterType="map" resultType="java.util.Map">
        select  equipmentNO,equipmentName,equipmentAddress,electricStatus
        from equipment where userID = #{userID}

        <if test="equipmentNO != null">
            and (equipmentNO like "%"#{condition}"%" || equipmentName like "%"#{condition}"%" || equipmentAddress like "%"#{condition}"%")
        </if>

    </select>
    <select id="getEquipmentNO" parameterType="String" resultType="java.util.Map">
        select
        (SELECT dictName from dict where dictID = equipment.equipmentType) equipmentType,
        equipmentNO,equipmentType,equipmentAddress,electricCurrentIA,electricCurrentIB,electricCurrentIC,electricStatus
        from equipment where equipmentNO = #{equipmentNO}
    </select>
</mapper>
